@page "/about"

<PageTitle>About</PageTitle>

<div class="container mt-5">
    <h1>
        Tortillawards
    </h1>
    <p>
        Birthed in 2014 by Anthony Pearson as a website for gag awards.
        The first ballot of gag awards was created for the Theta-Rho Chapter of TKE Fraternity.
        Features included signing in with Facebook, voting for a nomination, and viewing tallies.
        The original logo and mascot are exactly the same here.
        On November 22, 2014, the first awards were presented at the Kentucky Derby Formal.
        Awards included 'Grows Good Hair' awarded to Scott Reid, and 'Most Likely to Wake Up in Another Country' awarded to James Seegebarth.
        Winners were awarded funny certificates.
        However, the project shortly died after.
    </p>
    <p>
        The rebirth. Is here. Now with more abilities and features.
        New features include a slick domain, sign in with email, creating and managing ballots, ownership of ballots, adding new awards to a ballot, and nominations.
        These features expand from the MVC to a fully functioning product.
        Tortillawards is built with <a href="https://aws.amazon.com/" target="_blank">AWS</a>, <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-8.0" target="_blank">ASP.NET Core Blazor</a>, and <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>.
        Also, by the way, it's all open source on <a href="https://github.com/Mountain-Technologies-LLC/com.mountaintechnologiesllc" target="_blank">GitHub</a>.
    </p>

    <p class="text-center mt-5">
        <img class="mx-auto" src="favicon.png" height="157" />
    </p>

    <p class="text-center">
        <small class="text-muted">
            By the team at <a class="text-muted" href="https://github.com/Mountain-Technologies-LLC/Tortillawards" target="_blank">
                Mountain
                Technologies LLC
            </a>
            -
            <NavLink class="text-muted" type="text/plain" href="license" role="button">MIT License</NavLink>
        </small>
    </p>
</div>
