@page "/"

<PageTitle>Home</PageTitle>

<div class="px-4 py-5 my-5 text-center">
    <div class="mb-4">
        <img class="mx-auto" src="favicon.png" height="57" />
    </div>

    <h1 class="display-5 fw-bold">Tortillawards</h1>

    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Get Ready to Create a Ballot to See Who in Your Group of People Are Most Likely to be.</p>

        <NavLink class="d-grid gap-2 d-sm-flex justify-content-sm-center text-decoration-none" href="ballots">
            <button type="button" class="btn btn btn-outline-secondary bg-gradient btn-lg px-4 gap-3">View Ballots</button>
        </NavLink>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <div class="pb-3 text-center">
        <small class="text-muted">
            By the team at <a class="text-muted" href="https://mountaintechnologiesllc.com/" target="_blank">
                Mountain
                Technologies LLC
            </a>
            -
            <NavLink class="text-muted" type="text/plain" href="license" role="button">MIT License</NavLink>
        </small>
    </div>
</div>
